@use "sass:math";
@use '../../sass/variables' as *;
@use "../../sass/animations" as *;

.loader {
    display: block;
    bottom: -2rem;
    left: 0;
    padding: 3px;
    position: absolute;
    z-index: 11;
    height: 2rem;
    width: 100%;
    background: $black;
    overflow: hidden;
    &::after {
        content: '';
        display: block;
        height: 100%;
        background: $bg_btn;
    }

    &.isLoading {
        &::after {
            -webkit-animation: loader math.div($duration, 1.1) $easeInOutCirc both;
            animation: loader math.div($duration, 1.1) $easeInOutCirc both;
        }
    }
}

.main_loader {
    display: block;
    bottom: -2rem;
    left: 0;
    padding: 3px;
    position: absolute;
    z-index: 11;
    height: 2rem;
    width: 100%;
    background: $black;
    overflow: hidden;
    &:after {
        content: '';
        display: block;
        height: 100%;
        background: $bg_btn;
        animation: 1s prog ease-in infinite;
    }
}
