// COLORS
$white : white;
$black :black;
$main_backgroud : $black;
$link_hover : #8ecae6;
$slider_active : #ffb703;
$loader: $white;

// ANIMATION TIMING
$duration : 1.6180339887s;
$easeInOutBack :cubic-bezier(0, .4, .65, .34);
$easeInOutCirc :cubic-bezier(0.7, 0.1, 0.1, 0.8);
