$main_backgroud : #000000;
$nav_bg : #0000007e;
$bg_btn : #064ba2;
$link_hover : #6baeff;
$white : white;
$black :black;
$light_green : #6099ee;
$dark_green: rgba(8, 15, 40, 0.9);
$dark_green_alpha: rgba(0, 0, 0, 0.6);
$duration : 1.6180339887s;
$easeInOutBack :cubic-bezier(0, .4, .65, .34);
$easeInOutCirc :cubic-bezier(0.7, 0.1, 0.1, 0.8);