@use '../../sass/variables' as *;
@use '../../sass/mediaQueries' as *;
@use '../../sass/animations' as *;

.slider__nav {
    $thumbHeight: 5.5rem;
    $height: calc($thumbHeight + 3rem);
    $animationTime: .4s;
    $bRradius: .3rem;
    position: absolute;
    width: 100vw;
    height: $height;
    bottom: - calc($height / 2);
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    padding: 0;

    &-thumbs {
        position: absolute;
        list-style-type: none;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 100vw;
        margin: 0;
        display: flex;
        gap: 0.5rem;
        padding: 1.5rem 1.5rem;
        overflow-x: scroll;
        scrollbar-width: none;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        opacity: 0;
        animation: fade-in 1s ease-out 1s forwards;

        @include isTablet {
            max-width: calc(99vw - 0.5rem);
            justify-content: flex-start;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        &-item {
            position: relative;
            width: 9rem;
            height: $thumbHeight;
            flex: 0 0 9rem;
            z-index: 1;
            background-color: $black;
            box-shadow: 0 0 0.4rem -0.1rem rgb($black, 0.8), 0 1.3rem 1rem -1rem rgb($black, 0.5);
            cursor: pointer;
            transition: transform $animationTime;
            border-radius: $bRradius;
            overflow: hidden;

            &-image {
                width: 120%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: scale $animationTime;
            }

            @include isTablet {
                &:hover:not(.isProgress) {
                    transform: scale(1.2) translateY(-.4rem);
                    z-index: 7;

                    img {
                        scale: 1.3;
                    }
                }
            }

            &.isActive {
                pointer-events: none;
                z-index: 5;
            }

            &.isProgress {
                position: absolute;
                top: 50%;
                transform: translateY(-50%) scaleY(1.02);
                left: 0;
                z-index: 8;
                box-shadow: none;
                background: none;
                cursor: auto;

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transition: all .4s;
                    background: rgb($slideActive, .4);
                    border-radius: $bRradius;
                }
            }
        }
    }

    &-image-count {
        font-size: 1rem;
        color: $white;
        font-weight: 500;
        position: absolute;
        padding: 0.5rem 1rem;
        top: 0;
        right: 0;
        border-bottom-left-radius: .4rem;
        background: rgb($black, .6);

        @include isTablet {
            font-size: 1.2rem;
        }
    }

    &-prev,
    &-next {
        position: absolute;
        top: 50%;
        left: .5rem;
        transform: translateY(-50%);
        background: rgb($black, .3);
        padding: 1rem;
        border-radius: 5rem;
        outline: none;
        border: none;
        width: auto;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: $white;
        transition: background $animationTime, color $animationTime;

        &.isDisabled {
            opacity: .5;
            pointer-events: none;
        }

        @include isTablet {
            &:hover {
                background: rgb($black, .8);
                color: $slideActive;
            }
        }
    }

    &-next {
        left: auto;
        right: .5rem;
    }
}