@use '../../sass/variables' as *;
@use '../../sass/mediaQueries' as *;

.slider__nav {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 5;
    padding: 0;
    justify-content: center;
    overflow-x: auto; /* Abilita lo scroll orizzontale */
    overflow-y: hidden; /* Disabilita lo scroll verticale */
    -webkit-overflow-scrolling: touch; /* Abilita lo scroll fluido su dispositivi touch */
    scrollbar-width: none; /* Nasconde la scrollbar nei browser compatibili */
    ::-webkit-scrollbar {
        display: none; /* Nasconde la scrollbar nei browser basati su WebKit */
      }
      
    &-image-count {
        font-size: 1.4rem;
        color: $white;
        font-weight: 500;
        position: absolute;
        top: 1rem;
        right: 1rem;

        @include isTablet {
            font-size: 1.4rem;
        }
    }

    &-prev,
    &-next {
        position: absolute;
        top: 50%;
        left: .5rem;
        transform: translateY(-50%);
        background: rgb($black, .3);
        padding: 1rem;
        border-radius: 5rem;
        outline: none;
        border: none;
        width: auto;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: $white;
        transition: background .6s, color .6s;

        &.isDisabled {
            opacity: .5;
            pointer-events: none;
        }
        @include isTablet {
            &:hover {
                background: rgb($black, .8);
                color: $slideActive;
            }
        }
    }

    &-next {
        left: auto;
        right: .5rem;
    }

    &-bullet {
        list-style-type: none;
        margin: 0;
        width: auto;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        padding: 1rem 0;
        display: none;
        gap: .5rem;
        position: relative;

        @include isTablet {
            display: flex;
        }

        &-item {
            width: 7rem;
            height: 4rem;
            background: rgb($black, .3);
            box-shadow: 0 0 .4rem -.1rem rgb($black, .8);
            cursor: pointer;
            position: relative;
            transition:  transform .5s, background .3s;
            z-index: 1;

            &:hover:not(.isProgress) {
                transform: scale(.9);
                z-index: 4;
            }

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                transition: all .4s;
                background: none;
                border: 0  solid transparent;
            }

            &.isActive {
                pointer-events: none;
            }

            &.isProgress {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                z-index: 6;
                box-shadow: none;
                background: none;
                cursor: auto;
                &::after {
                    transform: translate(-50%, -50%);
                    background: rgb($slideActive, .2);
                    outline: .4rem  solid rgb($slideActive, .9);
                }
            }
        }
    }
}