@use "sass:math";
@use '../../sass/variables' as *;
@use "../../sass/mediaQueries" as *;
@use "../../sass/animations" as *;

@mixin animate($name, $duration, $delay, $timing) {
    -webkit-animation: $name $duration $delay $timing both;
    animation: $name $duration $delay $timing both;
}

$subtitle-padding: 0 0 1rem;
$hash-top: 2rem;
$default-opacity: 0;
$default-z-index: 1;

.slider-item {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: $slider_height_mobile;
    margin: 0 auto;
    flex: 1;
    opacity: .3;
    transition: opacity 1.2s, filter 1.2s;
    transition-delay: .6s;
    filter: grayscale(100%);  

    @include isLaptop {
        height: $slider_height;
    }

    &__lead-media {
        position: absolute;
        z-index: 2;
        opacity: 1;
        width: 100%;
        height: $slider_height_mobile;

        @include isLaptop {
            height: $slider_height;
        }
    }

    .rocket_block {
        position: absolute;
        z-index: 4;
        bottom: 6.5rem;
        left: 0;
        padding: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        transition: opacity .6s;
        transition-delay: .6s;
        opacity: 0;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */

        @include isTablet {
            background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 100%);
            bottom: 8.8rem;
            width: 60%;
        }

        &-wrapper {
            position: relative;
            padding: 1rem 1.5rem;
            display: flex;
            flex-direction: column;
            text-align: left;
            max-width: 70rem;

            @include isTablet {
                padding: 2rem 2.5rem;
            }

            &-title {
                position: relative;
                padding: $subtitle-padding;
                margin: 0;
                font-size: 2rem;
                font-weight: 500;
                width: auto;
                text-align: left;
                color: $white;
                @include isTablet {
                    font-size: 2.6rem;
                }
            }

            &-subtitle {
                position: relative;
                padding: $subtitle-padding;
                margin: 0;
                font-size: 1.6rem;
                font-weight: 500;
                width: auto;
                left: 0;
                color: $white;
                @include isTablet {
                    font-size: 2rem;
                }
            }

            &-hash {
                position: relative;
                font-style: italic;

                &--link {
                    color: white;
                    text-decoration: none;
                    padding: .5rem 0;
                    margin-inline-end: 1rem;

                    &:hover {
                        color: $link_hover;
                    }
                }


                @include isTablet {
                    text-align: left;
                }

                span {
                    font-size: 1.4rem;
                    font-weight: 600;

                    @include isTablet {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}

.slider-item.isVisible {
    opacity: 1;
    filter: grayscale(0);

    .rocket_block {
        opacity: 1;
    }
}


