@use "../../sass/variables" as *;
@use "../../sass/mediaQueries" as *;
@use '../../sass/animations' as *;

:root {
    --slider-max-width: 100%;
    --slider-height-mobile: 40svh;
    --slider-min-height-mobile: 30rem;
    --slider-height: 80vh;
    --slider-min-height: 60rem;
}

.slider,
.slider__item,
.slider__item-image {
    height: var(--slider-height-mobile);
    min-height: var(--slider-min-height-mobile);
}

@include isTablet {

    .slider,
    .slider__item,
    .slider__item-image {
        height: var(--slider-height);
        min-height: var(--slider-min-height);
    }
}


.slider {
    position: relative;
    margin: 0 auto;
    background: $main_backgroud;
    width: 100%;
    max-width: var(--slider-max-width);
    margin-bottom: 5rem;

    &__wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        transition: transform 0.2s ease;
    }

    &__list {
        position: relative;
        z-index: 4;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        opacity: 0;
        transition: opacity .5s;
        animation: fade-in 1s ease-out .5s forwards;
        transition: transform 0.2s ease-out;
        will-change: transform;
    }


    &__loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $loader;
        opacity: 0.8;
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        font-size: 3rem;

        @include isTablet {
            font-size: 4rem;
        }

        &--small {
            font-size: 1rem;
        }

        &:before {
            content: "<";
            animation: pulse 0.8s alternate infinite ease-in-out;
        }

        & b {
            animation: pulse 0.8s 1.6s alternate infinite ease-in-out;
            transform: none !important;
        }

        &:after {
            content: "/>";
            animation: pulse 0.8s 2.4s alternate infinite ease-in-out;
        }
    }

    &__doc {
        padding: 3rem;
        background: $white;
        margin: 0 auto;
        max-width: 134rem;
    }
}

.error_msg {
    color: $white;
    font-size: 1.2rem;
    padding: 2rem;
    text-align: center;
}

@keyframes prog {
    to {
        width: 100%;
    }
}

@keyframes pulse {
    to {
        opacity: 0.2;
    }
}
